

  body {
        padding-top: 5rem;}
 .container {
            max-width: 1360px;
            margin: 0 auto;
            
        }

        /* 상단 헤더 및 탭 메뉴 */
        .event-header {
            text-align: center;
            margin-bottom: 4rem;
        }
        .event-header h1 {
            color: var(--pm-color-500);
            /* font-size: var(--fs--h1); */
            font-weight: var(--fw-bold);
            margin-bottom: 2rem;
        }
        .tab-menu {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }
        .tab-menu a {
            font-size: 0.8rem;
            font-weight: var(--fw-med);
            color:var(--pm-color-900);
        }
        .tab-menu a.active {
            color:var(--pi-color-400); 
        }

        /* 뉴스 섹션 타이틀 */
        .news-title-area {
            text-align: center;
            margin-bottom: 4rem;
        }
        .news-title-area h2 {
            color:var(--pm-color-500);
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        .news-title-area p {
            font-size: var(--fs--bd1);
            color:#000;
            font-weight: var(--fw-reg);
        }

        /* 3열 그리드 레이아웃 */
        .news-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-bottom: 5rem;
        }

        
        .news-card {
            position: relative; 
            overflow: hidden;  
            aspect-ratio: 1 / 1.1; 
            border-radius: 4px; 
            cursor: pointer;
        }

        .news-card img {
            width: 100%;
            height: 500px;
            object-fit: cover; 
            display: block;
            max-width: 100%;
            max-height: 100%;
}
       

        /*  오버레이 텍스트 영역 */
        .news-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); 
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;    
            text-align: center;
            
            opacity: 0; 
            transition: opacity 0.3s ease-in-out; 
        }

        /* 마우스를 올렸을 때 */
        .news-card:hover .news-overlay {
            opacity: 1; 
        }

        .news-overlay h3 {
            font-size: var(--fs--bd1);
            font-weight: var(--fw-bold);
            margin: 2rem 0;
        }
        .news-overlay p {
            font-size: var(--fs-det);
            font-weight: var(--fw-reg);
        }

        /* 페이지네이션 */
         .pagination {
            display: flex;
            justify-content: center;
            gap: .5rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
            
        }

        .pagination a {
            font-size: var(--fs-det);
            font-weight: var(--fw-reg);
            color: #666;
        }

        /* 활성화된 페이지 */
        .pagination a.active {
            font-weight: var(--fw-bold);
            color: #333;
        }


        /* 반응형 (모바일 화면) */
        @media (max-width: 1440px) {
            html{
                font-size: var(--basic-font-tab);
            }
             .container {
            max-width: 1000px;}
        }
        @media (max-width: 1000px) {
            .container {
                 max-width: 800px;}
        }
        @media (max-width: 768px) {
            html{
                font-size: var(--basic-font-mo);
            }
            .container {
                max-width: 500px;}
            .news-grid { grid-template-columns: repeat(2, 1fr); }
        }
        @media (max-width: 480px) {
            .news-grid { grid-template-columns: 1fr;
                margin: 0 1rem; }
            .container {
                max-width: 300px;}
        }