
    header{
        padding-bottom: 2rem;
        background-color: #fff;
        max-height: 100px;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.5s ease 0s;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        width: 100%;

    }
    header:hover{
        max-height: 400px;
    }

    header .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .gnb{
        display: flex;
        gap:2.5rem;
        
    }

    .gnb>li>a{
        font-size: var(--fs-bd2);
        font-weight:var(--fw-bold);
        color: var(--pm-color-900);
        height: 100px;
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
    }

    .gnb ul{
        font-size: var(--fs-bd2);
        font-weight:var(--fw-med);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-size: var(--fs-bd2);
        font-weight: var(--fw-med);
    }
    .gnb ul a:hover{
        color: var(--pi-color-400);
    }
    header .sns{
        display: flex;
        gap: 1rem;
        height: 100px;
    }

    header .sns li{
        display: flex;
        align-items: center;
    }

.smart-header{display: none;
}
.menu-smart-hidden{display: none;}
.btn-close img{
    height: 1.2rem;
    position: absolute;
    right: 1rem;
}





@media all and (max-width:1440px){
    .menu-smart-hidden{
        
        transform: translateX(100%);
        /* transition: all 0.7s ease 0s;
        filter: blur(50px);
        pointer-events: none;
        opacity: 0; */

    }
     .menu-smart-hidden.on{
        transform: translateX(0%);
        /* filter: blur(0);
        pointer-events: auto;
        opacity: 1; */
    }
    header{
        display: none;
        
    }
    .smart-header{ 
        display: block;
        background-color: #fff;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1000;
        }

    .smart-header .common-frame{
        
        display: flex;
        justify-content: center;
        position: relative;
    }

    .smart-header .logo img{
        height: 5rem;
        
        
    }

    .smart-header .btn-menu{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        line-height: 0;

    }

    .smart-header .common-frame .btn-menu img {
        height: 1.2rem;
    }
    .menu-smart-hidden{
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 3000;
    }

    .meun-top .common-frame{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
    }

    .meun-top .logo img{
        height: 5rem;
    }

    .meun-content {
    
        max-height: calc(100vh - 5rem);
        overflow: auto;
        padding-top: 2rem;
        box-sizing: border-box;

    }

    .gnb-smart{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:3rem 1rem;
        font-size: var(--fs-bd2);
    }


    .gnb-smart>li>a{
        font-weight: var(--fw-bold);
        display: block;
        border-left: 3px solid var(--pi-color-400);
        padding-left: .5rem;
        margin-bottom: 1rem;
        color: var(--pm-color-900);

    }
    .gnb-smart ul{
        font-weight: var(--fw-med);
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .sns {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

    }
}







@media (max-width:768px){
     .gnb-smart{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:0;
    
        
    }
   
    .gnb-smart>li{
        max-height: 40px;
        overflow: hidden;
        position: relative;
        transition: all .5s ease 0s;
    }

    .gnb-smart>li.on{
        max-height: 300px;
    }
    .gnb-smart>li.on .btn-more img{
        transform: rotate(180deg);
    }
    .gnb-smart>li .btn-more img{
        transition: all .5s ease 0s;
    }
    .gnb-smart>li>a{
        display: flex;
        height: 40px;
        align-items: center;
        border-left:0;
        padding-left: 0;
        margin-bottom: 1rem;
        color: var(--pm-color-900);
        border-bottom: 1px solid var(--pi-color-400);
        box-sizing: border-box;
    }
    .gnb-smart ul a{
        display: flex;
        height: 30px;
        align-items: center;
    }
    .gnb-smart ul{
        gap: 0;
    }
    .btn-more{
        padding-left: 20px;
        position: absolute;
        height: 40px;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }
    .sns img{
        height: 1.5rem;
}
}