.moments-section {
  max-width: 1360px;
  margin: 10rem auto;
  
}

/* 헤더 스타일 (예약 섹션과 통일) */
.moments-header { text-align: center; margin-bottom: 50px; }
.section-title { 
  color: var( --pm-color-500); 
  font-size: var(--fs-h1); 
  margin-bottom: 5rem; }

.tab-menu {
  margin-bottom: 40px; 
  font-weight: var(--fw-bold); 
  font-size: var(--fs--bd1);
  display: flex;
  gap: 2rem; 
  justify-content: center;
  align-items: center;}

.tab-menu li { 
    font-size: var(--fs--bd1);
    font-weight: var(--fw-med);
    color: var(--pm-color-500);
}
.tab-menu li.active { color: var(--pi-color-400) }
.album-title { 
  color: var(--pm-color-500); 
  font-size: var(--fs-h1); 
  margin-bottom: 8px; }

/* 그리드 레이아웃 */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 배치 */
  gap: 1rem; 
  margin: 5rem 2rem;
}

.photo-item {
  width: 100%;
  overflow: hidden;
  border-radius: 4px; 
}

.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  aspect-ratio: 3 / 4; 
  display: block;
  transition: transform 0.3s ease;
}

/* 이미지 호버 효과 */
.photo-item img:hover {
  transform: scale(1.05); 
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.page-num {
  font-size: var(--fs-det);
  color: #888;
  cursor: pointer;

}

.page-num.active {
  color: #333;
  font-weight: bold;
}

 @media (max-width: 1400px){
   html{font-size: var(--basic-font-tab);}
          }

  @media (max-width: 1000px) {
    html{
          font-size: var(--basic-font-mo);
            }}
   @media (max-width: 768px){


   }
   @media (max-width: 500px){


   }